Description=Openstack Neutron Linuxbridge Agent
After=mysql.service postgresql.service rabbitmq-server.service keystone.service

[Service]
User=neutron
Group=neutron
WorkingDirectory=/var/lib/neutron
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/lock/neutron /var/log/neutron /var/lib/neutron
ExecStartPre=/bin/chown neutron:neutron /var/lock/neutron /var/log/neutron /var/lib/neutron
ExecStart=/usr/local/bin/neutron-linuxbridge-agent --config-dir /etc/neutron --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/ml2_plugin.ini --config-file /etc/neutron/plugins/ml2/ml2_plugin_dataplane.ini
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
